{{#partial "page"}}

<div class="container">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <main class="page">
        <section class="page-content page-content--centered">
            <h1 class="page-heading">{{lang 'page_not_found.page_heading'}}</h1>
            <p class="u-textAlignCenter">
                {{lang 'page_not_found.message'}}
            </p>

            {{> components/common/search-box}}

            <h2>Browse Popular Categories</h2>
            <ul>
                <li><a href="https://microscopeinternational.com/compound-microscopes/">Compound Microscopes</a></li>
                <li><a href="https://microscopeinternational.com/stereo-microscopes/">Stereo Microscopes</a></li>
                <li><a href="https://microscopeinternational.com/digital-microscopes/">Digital Microscopes</a></li>
                <li><a href="https://microscopeinternational.com/inverted-microscopes/">Inverted Microscopes</a></li>
                <li><a href="https://microscopeinternational.com/inspection-microscopes/">Inspection Microscopes</a>
                </li>
                <li><a href="https://microscopeinternational.com/portable-field-microscopes/">Portable Field
                        Microscopes</a></li>
                <li><a href="https://microscopeinternational.com/microscope-cameras/">Microscope Cameras</a></li>
            </ul>


        </section>
    </main>
</div>

{{/partial}}
{{> layout/base}}
