{{#partial "page"}}
{{#each shipping_messages}}
{{> components/common/alert/alert-info message}}
{{/each}}
<div class="main full">
  <div class="container">

    {{{region name="home_dual_banner"}}}

    {{{region name="home_popular_products"}}}
    {{{region name="home_popular_categories"}}}
    {{{region name="home_popular_accessories"}}}

    {{{region name="home_company_description"}}}
    {{{region name="home_customer_reviews"}}}

    {{{region name="home_top_brands"}}}

    {{{region name="home_company_services"}}}

    {{{region name="home_bottom_content"}}}

  </div>
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebPage",
  "@id": "https://microscopeinternational.com/#webpage",
  "url": "https://microscopeinternational.com/",
  "inLanguage": "en-US",
  "isPartOf": {
    "@type": "WebSite",
    "@id": "https://microscopeinternational.com/#website",
    "url": "https://microscopeinternational.com/",
    "name": "New York Microscope Company"
  },
  "primaryImageOfPage": {
    "@id": "https://microscopeinternational.com/#primaryimage",
    "url": "https://cdn11.bigcommerce.com/s-65c7m3a4v0/product_images/uploaded_images/dt-hero-microscope.jpg"
  },
  "description": "The experts at New York Microscope Company are here to help you! Browse our online microscope store for the latest products, accessories, and PPE. Contact us today!",
  "name": "Online Microscope Store | New York Microscope Company",
  "publisher": {
    "@type": "LocalBusiness",
    "@id": "https://microscopeinternational.com/#localbusiness",
    "name": "New York Microscope Company",
    "logo": {
      "@type": "ImageObject",
      "@id": "https://microscopeinternational.com/#logo",
      "url": "https://cdn11.bigcommerce.com/s-65c7m3a4v0/images/stencil/original/nymc-logo_1616619257__83703.original.png",
      "caption": "New York Microscope Company"
    },
	  "hasMerchantReturnPolicy": {
      "@type": "MerchantReturnPolicy",
      "returnPolicyCategory": "https://schema.org/MerchantReturnFiniteReturnWindow",
      "merchantReturnDays": 30,
      "merchantReturnLink": "https://microscopeinternational.com/return-policy/#returns"
    },
    "telephone": "516-801-0313",
    "email": "info@nyscopes.com",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "100 Lauman Lane, Ste A",
      "addressLocality": "Hicksville",
      "addressRegion": "NY",
      "postalCode": "11801",
      "addressCountry": "USA"
    },
	  "location": {
	  "@type": "PostalAddress",
	  "streetAddress": "100 Lauman Lane, Ste A",
	  "addressLocality": "Hicksville",
	  "addressRegion": "NY",
	  "addressCountry": "USA",
	  "postalCode": "11801"
	},
	"alternateName": [
      "New York Microscope Co",
      "NY Microscope Co.",
      "NY Microscope",
      "NY Scopes",
      "NYscopes",
      "NYMC",
      "Microscope International",
      "Mel Sobel Microscopes"
    ],
    "sameAs": [
      "https://www.facebook.com/NewYorkMicroscopeCo/",
      "https://www.linkedin.com/company/new-york-microscope-company/",
      "https://www.google.com/maps?cid=18003969417571374199",
      "https://www.youtube.com/user/nymicroscope",
      "https://x.com/MicroscopeCo",
      "https://www.instagram.com/nyscopes/",
      "https://www.pinterest.com/MicroscopeCo/",
      "https://www.yelp.com/biz/new-york-microscope-hicksville",
      "https://www.thomasnet.com/company/new-york-microscope-company-inc-00950627/profile",
      "https://www.shopperapproved.com/reviews/microscopeinternational.com"
    ]
  },
  "potentialAction": [
    {
      "@type": "SearchAction",
      "target": "https://microscopeinternational.com/search.php?search_query={search_term_string}",
      "query-input": "required name=search_term_string"
    },
    {
      "@type": "ReadAction",
      "target": ["https://microscopeinternational.com/"]
    }
  ],
  "breadcrumb": {
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://microscopeinternational.com/"
      }
    ]
  }
}
</script>

{{/partial}}

{{> layout/base}}