{{#and product.related_products theme_settings.related_products_tab}}
<div class="accordion-block">
    <div class="container">
        <div class="accordion-navigation toggleLink" role="button" data-collapsible="#accordion--related">
            <h5 class="accordion-tab-title" style="color: #d5353d;">
                {{lang 'products.related_products'}}
            </h5>

            <div class="accordion-navigation-actions">
                <svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                    <use xlink:href="#icon-plus" />
                </svg>
                <svg class="icon accordion-indicator toggleLink-text toggleLink-text--on">
                    <use xlink:href="#icon-minus" />
                </svg>
            </div>
        </div>
    </div>

    <div id="accordion--related" class="accordion-content">
        <div class="grid-bg">
            <div class="container">
                {{> components/products/related products=product.related_products columns=6}}
            </div>
        </div>
    </div>
</div>
{{/and}}

<div class="container 4661726c6579">
    {{#or product.description product.videos.list.length}}
    <div class="accordion-block">
        <div class="accordion-navigation toggleLink is-open" role="button" data-collapsible="#accordion--description">
            <h5 class="accordion-tab-title">
                {{lang 'products.description'}}
            </h5>

            <div class="accordion-navigation-actions">
                <svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                    <use xlink:href="#icon-plus" />
                </svg>
                <svg class="icon accordion-indicator toggleLink-text toggleLink-text--on">
                    <use xlink:href="#icon-minus" />
                </svg>
            </div>
        </div>
        <div id="accordion--description" class="accordion-content is-open">
            <div {{#if schema}} itemprop="description" {{/if}}>
                {{{product.description}}}
                {{{snippet 'product_description'}}}
            </div>

            {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
            {{/if}}
        </div>
    </div>
    {{/or}}

    {{#unless theme_settings.show_short_desc}}
    {{#if product.warranty}}
    <div class="accordion-block">
        <div class="accordion-navigation toggleLink" role="button" data-collapsible="#accordion--warranty">
            <h5 class="accordion-tab-title">
                Warranty
            </h5>

            <div class="accordion-navigation-actions">
                <svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                    <use xlink:href="#icon-plus" />
                </svg>
                <svg class="icon accordion-indicator toggleLink-text toggleLink-text--on">
                    <use xlink:href="#icon-minus" />
                </svg>
            </div>
        </div>

        <div id="accordion--warranty" class="accordion-content">
            {{{product.warranty}}}
        </div>
    </div>
    {{/if}}
    {{/unless}}

    {{#if product.custom_fields}}
    <div class="accordion-block">
        <div class="accordion-navigation toggleLink" role="button" data-collapsible="#accordion--custom-fields">
            <h5 class="accordion-tab-title">
                Shipping & Returns
            </h5>

            <div class="accordion-navigation-actions">
                <svg class="icon accordion-indicator toggleLink-text toggleLink-text--off">
                    <use xlink:href="#icon-plus" />
                </svg>
                <svg class="icon accordion-indicator toggleLink-text toggleLink-text--on">
                    <use xlink:href="#icon-minus" />
                </svg>
            </div>
        </div>

        <div id="accordion--custom-fields" class="accordion-content">
            <dl class="productView-info">
                <p style="font-size: 18px; font-weight: bold;">Shipping</p>
                <p>Calculate shipping costs at cart or checkout. Our representatives are also happy to assist you by <a
                        target="_blank" href="https://microscopeinternational.com/request-quote/">requesting a
                        quote</a>.</p>
                <p>For further information, please refer to our <a target="_blank"
                        href="https://microscopeinternational.com/shipping-policy/">Shipping Policy.</a></p>

                <div style="margin: 1rem 0">
                    {{#all product.weight theme_settings.show_product_weight}}
                    <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                    <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                    {{/all}}
                    {{#all product.width product.height product.depth theme_settings.show_product_dimensions}}
                    <dt class="productView-info-name">{{lang 'products.width'}}</dt>
                    <dd class="productView-info-value" data-product-width>
                        {{product.width}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                    <dt class="productView-info-name">{{lang 'products.height'}}</dt>
                    <dd class="productView-info-value" data-product-height>
                        {{product.height}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                    <dt class="productView-info-name">{{lang 'products.depth'}}</dt>
                    <dd class="productView-info-value" data-product-depth>
                        {{product.depth}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                    {{/all}}
                </div>

                <p style="font-size: 18px; font-weight: bold;">Returns</p>
                <p>If you are dissatisfied with your purchase, let us help you with a refund or exchange. Exclusions may
                    apply.</p>
                <p>For full details, view our <a target="_blank"
                        href="https://microscopeinternational.com/return-policy/">Returns Policy</a>.</p>
                </p>
            </dl>
        </div>
    </div>
    {{/if}}
</div>

{{#and product.similar_by_views theme_settings.customer_viewed_products_tab}}
<div class="accordion-block">
    <div class="container">
        <div>
            <h5 class="accordion-tab-title">
                {{lang 'products.similar_by_views'}}
            </h5>
        </div>
    </div>

    <div>
        <div class="grid-bg">
            <div class="container">
                {{> components/products/similar-by-views products=product.similar_by_views columns=2}}
            </div>
        </div>
    </div>
</div>
{{/and}}